<section class="card about">
    <div>
        <div class="row">
            <div class="col-md-12 maintext">
                <header>
                    <div class="panel-header">
                        <h1>About</h1>
                    </div>
                </header>                   
               <div class="panel-group accordion" id="accordion">                   
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-target="#background" data-parent="#accordion" >Background</h4>
                       </div>
                       <div id="background" class="panel-collapse in collapse">
                           <div class="panel-body">     
                                <p>With over 24 years in the business of making music and 10 years of running a recording studio, I have the ideal background and training in creation of audio soundscapes. I am the founder of Sophiahat Studios (www.sophiahatstudio.com) where we have created audio books, game audio, TV and radio spots, and short and full-length film work. I have been working as a freelance guitarist all of my adult life and continue to play gigs and teach on the side (www.chrisspencermusic.com). I take pride in both composing and licensing music, creating sound effects, and mixing and mastering the finished product; in essence, I'm the one stop solution for your audio needs.</p>
                           </div>
                       </div>
                   </div>
                   <div class="panel panel-default clients">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#client-list"  >Clients</h4>
                       </div>
                       <div id="client-list" class="touch-scroll panel-collapse collapse">
                           <div class="panel-body">
                                <p>Here are some of my recent clients:</p>
                                <ul class="" id="clients">
                                    <li class="clients" ng-repeat="client in clients | filter: client.type='corporate'" ng-show="client.showCSCreative&&client.active">
                                        <div class="client-image"><a ng-href="{{client.url}}" target="_blank"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/client_images/{{client.image}}" alt="Client Image"></a></div>
                                        <div class="client-url"><a ng-href="{{client.url}}" target="_blank">{{client.name}}</a></div>
                                    </li>
                                </ul>     
                           </div>
                       </div>
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#credentials"  >Credentials</h4>
                       </div> 
                       <div id="credentials" class="panel-collapse collapse">
                           <div class="panel-body">
                                 <iframe
                                    src="https://www.credential.net/embed/rn6zxgbx"
                                    width="600"
                                    height="450"
                                    frameborder="0"
                                    allowfullscreen>
                                  </iframe>
                           </div>
                       </div>  
                   </div>
               </div>
            </div>
<!--            <div class="col-md-3 text-center">
                <aside role="complementary">
                    <div ng-include="'views/aside.html'"></div>
                </aside>
            </div>-->
        </div>
    </div>
</section>
