<section class="card about">
    <div>
        <div class="row">
            <div class="col-md-9">
                <header>
                    <div class="panel-header">
                        <h1>About</h1>
                    </div>
                </header>                   
               <div class="panel-group accordion" id="accordion">                   
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-target="#whoAre" data-parent="#accordion" >Who We Are</h4>
                       </div>
                       <div id="whoAre" class="panel-collapse collapse">
                           <div class="panel-body">
                                <section>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="thumbnail">
                                            <img class="img-thumbnail img-responsive" src="images/thumbs/Marvin.jpg" alt="Marvin Spencer">
                                             <div class="caption"> 
                                                <h4>Marvin Spencer</h4>
                                                <p>Marvin is the principal builder at Brush Creek. He and his wife, Brenda started Brush Creek Yachts in 1995 after leaving a rat race career in cabinet-making. During that time Marvin has built/restored nearly
                                                    80 boats, and through that process come up with a few great design improvements. As a sailor, he appreciates functionality as much as the aesthetic and strives to make all of his boats perform better
                                                    than their original design.</p>
                                             </div> 
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="thumbnail">

                                            <img class="img-thumbnail img-responsive" src="images/thumbs/Brenda.jpg" alt="Brenda Spencer">
                                            <div class="caption">
                                                <h4>Brenda Spencer</h4>
                                                <p>Brenda is the brains of the operation, the chief strategist, and she comes up with delicious food items to fuel the builder types along with their feline companions.</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="thumbnail">
                                            <img class="img-thumbnail img-responsive" src="images/thumbs/Chris.jpg" alt="Chris Spencer">
                                            <div class="caption">
                                                <h4>Chris Spencer</h4>
                                                <p>Chris is the &ldquo;behind the scenes guy&rdquo; who helps with web stuff. He only appears at Brush Creek Headquarters (BSHQ) once in a blue moon, or when there&apos;s a delicious treat to consume.</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                           </div>
                       </div>
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#whatDo"  >What We Do</h4>
                       </div>
                       <div id="whatDo" class="panel-collapse collapse">
                           <div class="panel-body">
                                <img class="featureImg img-thumbnail img-responsive" src="images/Construction_Banner1.jpg">
                                <p>Brush Creek Yachts specializes in wooden boats and <a href="melonseed.html">Melonseed Skiffs</a>. Whether its the creation of a new rowing dory, the restoration of a seasoned Chris Craft runabout, the construction of a Melonseed Skiff, or a replication of a naval war vessel, Brush Creek Yachts does practically everything that's made out of wood and floats.</p>
                                <h4>Building Techniques</h4>
                                <p>Of course, the construction techniques depend on the design, but we often use strip plank, lapstrake, carvel (or plank on frame), composite and clinker ply construction techniques. Strip plank is the preferred method.  Here's an excellent <a href="http://smaalders.net/yacht_design/gobboatconst.html" target="_blank">article</a> by Mark Smaalders describing the various techniques of wooden boat construction.</p>
                                <p>Many of our boats are covered in cloth set in epoxy which essentially makes the hull a monocoque shell. This hardens the wood, provides a water barrier and provides a great adhesive for marine finishes. This results in a boat that is stronger, more durable and by far more sexy than a similar fiberglass design.</p>
                           </div>
                       </div>
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#whereAre" >Where We Are</h4>
                       </div>
                       <div id="whereAre" class="panel-collapse collapse">
                           <div class="panel-body">
                                <img class="featureImg img-thumbnail img-responsive" src="images/BCY_HQ_crpd.jpg">
                                <p>We&apos;ve moved!  Just getting set up in our new digs in Fries, VA.  If you&apos;re in the neighborhood, give us a call.  We hope to have the shop open soon, but we can at least arrange a test sail. Stay tuned!</p>
                        
                                <address>
                                    <p>2725 Turkey Knob Road, Fries, VA 24330</p>
                                </address>
                           </div>
                       </div>
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#whyDo" >Why We Do It</h4>
                       </div>
                       <div id="whyDo" class="panel-collapse in collapse">
                           <div class="panel-body">
                                <img class="featureImg img-thumbnail img-responsive" src="images/NessYawl5_crpd.jpg">
                                <p class="lead">Why does any artist make art?.. </p>
                                <p>We feel that enjoying the water on small boats is one the best activies in the world, and we are honored when someone chooses our craft to do so. And although there are cheaper ways to build a boat, we feel there&quot;s more to a boat than its functionality.</p>
                                <p>Wooden boatbuilding is one of the most rewarding and satisfying processes that one could call a career.  That is why Brush Creek strives to build a seaworthy vessel that will remain a family treasure for years to come.</p>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
            <div class="col-md-3 text-center">
                <aside role="complementary">
                    <div ng-include="'views/aside.html'"></div>
                </aside>
            </div>
        </div>
    </div>
</section>
