<section class="admin card cf">
   <h1>Website Administration</h1>
    <div class="accordion" id="accordion">
       
       <div class="cf">
           <h3 data-toggle="collapse" data-target="#current-videos" data-parent="#accordion">Current Videos</h3>
            <div id="current-videos" class="video-inventory collapse">
                <div ng-show="videoEditForm" class="data-edit-form" id="video-detail-edit">
                    <form  action="" name="video-detail-edit-form">
                       <ul>
                           <li>
                               <label for="title">Title:</label>
                               <input type="text" name="title"  ng-model="videotitle">
                           </li>
                           <li>
                               <label for="active">Active:</label>
                               <input type="text" name="active"  ng-model="videoactive">
                           </li>
                           <li>
                               <label for="description">Description:</label>
                               <input type="text" name="description"  ng-model="videodescription">
                           </li>
                           <li>
                               <label for="metatags">Metatags:</label>
                               <input type="text" name="metatags"  ng-model="videometatags">
                           </li>
                           <li>
                               <label for="rating">Rating:</label>
                               <input type="text" name="rating"  ng-model="videorating">
                           </li><li>
                               <label for="videoid">VideoID:</label>
                               <input type="text" name="videoid"  ng-model="videoid">
                           </li>
                           <li>
                               <label for="workperformed">Work Performed:</label>
                               <input type="text" name="workperformed"  ng-model="videoworkperformed">
                           </li>
                       </ul>
                       <button type="submit" class="btn btn-default" ng-click="updateVideo()">Save Updated Data</button>
<!--                           <a href="#/admin" class="btn btn-danger">Cancel</a>-->
<!--                           <h1 ng-if="successMessage == 0">Data is Updated!</h1>-->
                   </form>
                </div>
               <ul ng-show="!videoEditForm" class="videolist">
                   <li class="video-data" ng-repeat="(key , video) in videos">
                       
                       <table class="table table-responsive table-bordered table-striped">
                          <tr>
                              <td>Title:{{video.title}}</td>
                              <td><a href="https://youtu.be/{{video.videoId}}" target="_blank" class="video-thumbs-admin">
                       
                       <img src="http://img.youtube.com/vi/{{video.videoId}}/0.jpg"  alt="videoID:{{video.$id}}"> 
                       </a></td>
                          </tr>
                           <tr>
                               <td>Active: {{video.active}}</td>
                               <td>Rating: {{video.rating}}</td>
                           </tr>
                           <tr>
                                <td>Date Created: {{video.dateCreated}}</td> 
                                <td>
                                    Date Modified: {{video.dateModified}}
                                </td>
                           </tr>
                           <tr>
                                <td>Video ID: {{video.videoId}}</td>   
                                <td>Metatags: {{video.metatags}}</td>
                           </tr>
                           <tr>
                               <td>Description: {{video.description}}</td> 
                               <td>WorkPerformed: {{video.workPerformed}}</td>   
                           </tr>
                        
                       </table>
                       <button class="btn btn-default" ng-click="editVideo(video)">Edit</button>
                       

                   </li>
               </ul>
            </div>
       </div>
       
        <div class="cf">
            <h3 data-toggle="collapse" data-target="#add-video" data-parent="#accordion">Add a Video</h3>
            <div id="add-video" class="collapse add-video">
                <form class="cf formgroup addvideo" name="addvideo" ng-submit="addVideo()" novalidate>
                    <div class="inputwrapper">
                        <input type="text" name="title" ng-model="title" ng-required="true" placeholder="Video Title">
                        <input type="text" name="description" ng-model="description" ng-required="false" placeholder="Description">
                        <input type="text" name="videoId" ng-model="videoId" ng-required="true" placeholder="Video ID">
                        <input type="text" name="workPerformed" ng-model="workPerformed" ng-required="false" placeholder="Work Performed">
                        <input type="text" name="metatags" ng-model="metatags" ng-required="false" placeholder="Metatags">
                        <div ng-required="false" class="checkbox">
                            <input ng-true-value="true" ng-false-value="false" ng-model="videoActive" id="videoActive" type="checkbox"><label for="videoActive">Video is Active</label>
                        </div>

                    </div>
                    <button type="submit" class="btn" ng-disabled="addVideo.$invalid">Add Video</button>
                </form>
            </div>
        </div>
        <div class="cf">
            <h3 data-toggle="collapse" data-target="#add-audio" data-parent="#accordion">Add an Audio File</h3>
            <div id="add-audio" class="collapse add-audio">
                <form novalidate name="addAudio" ng-submit="addAudio()" class="cf formgroup addAudio">
                   <input type="text" placeholder="Source File" ng-model="src" required="true">
                   <input type="text" placeholder="Description" ng-model="audio_description" required="true">
                   <input type="text" placeholder="Image src" ng-model="img">
                  
                   <input type="text" placeholder="Title" ng-model="title" required="true">
                   <input type="text" placeholder="Meta" ng-model="audio_meta">
                   <input type="text" placeholder="Audio Type"ng-model="audio_type">
                   <button type="submit" class="btn" ng-disabled="addAudio.$invalid">Add Audio</button>

                </form>
            </div>
        </div>
            
    </div>    

</section>