<section class="aside" ng-controller="iFramesController">
    <div class="list-group">
        
        <a ng-href="#!/portfolio" class="list-group-item">
            <h4 class="list-group-item-heading">Audio Examples</h4>
            <p class="list-group-item-text">Check out our portfolio and sort through various models...<em>Visit our Gallery</em></p>
        </a>
        <a ng-href="#!/services" class="list-group-item">
            <h4 class="list-group-item-heading">Need VO for your project?</h4>
            <p class="list-group-item-text">We&#39;ll capture clean audio and help produce a compelling dialogue for your product storyline <em>Check out our Voice Over / ADR Services</em></p>
        </a>
        <a ng-href="#!/contact" class="list-group-item">
            <h4 class="list-group-item-heading">Not sure what you need or even want?</h4>
            <p class="list-group-item-text">Send us a note with your ideas, we&#39;ll probably have some ideas for making your audio sizzle and pop. <em>Contact</em> </p>
        </a>
        <a ng-href="#!/news" class="list-group-item">
            <h4 class="list-group-item-heading">Latest News</h4>
            <p class="list-group-item-text"><em>Check out what&#39;s going on in our world</em></p>
        </a>
        <a ng-href="#!/consult" class="list-group-item">
            <h4 class="list-group-item-heading">Free Project Conversations</h4>
            <p class="list-group-item-text"><em>Let&#39;s Talk! Pick a time that works for you and start a conversation about your project.</em></p>
        </a>
        
</section>