<section class="carousel">
    <div id="carousel-main" class="carousel carousel-slide" data-interval="10000" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-main" data-slide-to="1"></li>
        <li data-target="#carousel-main" data-slide-to="2"></li>
        <li data-target="#carousel-main" data-slide-to="3"></li>
        <li data-target="#carousel-main" data-slide-to="4"></li>
        <li data-target="#carousel-main" data-slide-to="5"></li>
        <li data-target="#carousel-main" data-slide-to="6"></li>
        <li data-target="#carousel-main" data-slide-to="7"></li>
        <li data-target="#carousel-main" data-slide-to="8"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item  item active">
          <img class="d-block w-90" src="images/headers/blue-flower.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
              <h3>Music Composition</h3>
          </div>
        </div>
        <div class="carousel-item item">
          <img src="images/headers/maple.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Music for Film</h3>
            </div>
        </div>
        <div class="carousel-item item">
          <img src="images/headers/planet.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Sound Design</h3>
            </div>
        </div>
        <div class="carousel-item item">
          <img src="images/headers/raindrops.jpg" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Audio Editing and Mixing</h3>
            </div>
        </div>
        <div class="carousel-item item">
          <img src="images/headers/space1.png" alt="Fifth slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Audio Recording</h3>
            </div>
        </div>
        <div class="carousel-item item">
          <img src="images/headers/space2.png" alt="Sixth slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Voice Over And ADR</h3>
            </div>
        </div>
        <div class="carousel-item item">
          <img src="images/headers/space3.png" alt="Seventh slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Web Development</h3>
            </div>
        </div>
        <div class="carousel-item item">
          <img src="images/headers/space4.png" alt="Eighth slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Game Audio Implementation</h3>
            </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</section>
