<section class="card consult">
<div class="row">
    <div class="col-md-12">
     <header>
         <h2>Schedule a Free Project Consultation</h2>
     </header>
      <p>Schedule a free 30 minute conversation about your project, just fill out the form and I'll confirm the meeting time via email</p>
<!-- Calendly inline widget begin -->
<iframe ng-src="{{iframeUrl | trustUrl}}" min-width="320" height="630" frameborder="0"></iframe>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->
    </div>
</div>
</section>
