
<section class="card home">
    <div class="row">
        <div class="col-md-12 maintext">
           <div class="section-header">
                  <img src="images/guitar.jpg" alt="guitar" width="200" height="264" dir="ltr" style="margin: 0px 0px 10px 15px; float: right;"> 
                   <h1>Music Composition and Audio Design</h1>
            </div> 
                    <p>Welcome to my portfolio site and sandbox.  Here you&#39;ll find some examples of my sound design and music compositions. Essentially, it is a showcase of my work and will illustrate my capability to provide solutions to all of your audio needs. &nbsp;</p>
                        <p>My skills include:
                        <ul>
                        <li>Music Composition &sung;</li>
                        <li>Music for Film</li>
                        <li>Sound Design</li>
                        <li>Audio Editing and Mixing</li>
                        <li>Audio Recording</li>
                        <li>Voice Over Recording</li>
                        <li>Automated Dialogue Replacement (ADR)</li>
                        <li>Game Audio</li>
                        <li>Soundtracks</li>
                        <li>Video Editing</li>
                        <li>Web Development</li>
                        <li>Audio Implementation</li>
                        <li>&flat; &natural; &sharp;</li>
                        </ul></p>
                        
                        <p>Please feel free to contact <a ng-href="#!/contact">me</a> for more information regarding your project. Or <a ng-href="#!/consult">schedule</a> a free project consultation&nbsp;, I&#39;m always looking for new challenges&#33;</p>
<p>Please checkout my <a href="https://www.chrisspencermusic.com">guitarist website</a> and <a href="https://www.sophiahatstudio.com">SophiaHat Studios</a></p>
        </div>
        

    </div>
    <br>
    <br>   
</section>
