
<section class="card home">
    <div class="row">
        <div class="col-md-12">
           <div class="row well section-header">
               <div class="col-md-12">
                  <img src="images/guitar.jpg" alt="guitar" width="200" height="264" dir="ltr" style="margin: 0px 0px 10px 15px; float: right;"> 
                   <h1>Audio Design by Spencer Creative</h1> 
                    <p>ChrisSpencerCreative is my online portfolio of sound design and music compositions. It is a showcase of my work and illustrates my capability to handle all of your audio needs. &nbsp;</p>
                        <p>My skills include:</p>
                        <ul>
                        <li>Music Composition</li>
                        <li>Music for Film</li>
                        <li>Sound Design</li>
                        <li>Audio Editing and Mixing</li>
                        <li>Audio Recording</li>
                        <li>Voice Over Recording</li>
                        <li>Automated Dialogue Replacement (ADR)</li>
                        <li>Game Audio</li>
                        <li>Soundtracks</li>
                        <li>Video Editing</li>
                        <li>Web Development</li>
                        <li>Game Development</li>
                        <li>Audio Implementation</li>
                        </ul>
                        <p>Please feel free to contact me for more information regarding your project.&nbsp;</p>
               </div>
            </div>
        </div>
        
<!--
        <div class="col-md-4 text-center">
            
        </div>
-->
    </div>
    <br>
    <br>   
</section>
