<section class="home">
    <div class="row">
        <div class="col-md-9 text-center">
           <div class="row section-header">
               <div class="col-sm-5">
                   <h1>Brush Creek Yachts</h1>
                   <h3>We Build Wooden Boats...</h3>
               </div>
               <div class="col-sm-7 section-header-text">
                    <p>Whether in lapstrake, strip or plank-on frame. Each one is lavished with so many coats... or paint or varnish, it results in the same..beautiful little yachts, hence comes our name. </p>      
              </div>

            </div>
            <section>
                <div class="col-md-6">
                    <div class="well well-red">
                        <figure>
                            <a href="#photoModal" class="photoContainer" data-toggle="modal" data-img-url="images/Melonseed_stern_overdeck.jpg"><img id="home_img" class="img-thumbnail img-responsive" src="images/Melonseed_stern_overdeck.jpg" alt="Melonseed-Stern-Overdeck"></a>
                            <figcaption>Brush Creek Yachts specializes in the <a href="melonseed.html">Melonseed</a></figcaption>
                        </figure>

                    </div>
                    <br>

                </div>
            </section>

            <section>
                <div class="">
                    <div class="col-md-6">
                        <div class="well well-red">
                            <h3><a ng-href="#/services">Get a Boat</a></h3>
                            <p>Brush Creek builds custom wooden boats. We will help you create the boat of your dreams, based on your favorite design and specifications.</p>
                            <a ng-href="#/services" class="btn btn-default">ReadMore</a>
                        </div>

                    </div>
                </div>
            </section>
            <section>
                <div id="home-content-bottom" class="col-md-12">
                    <div class="well well-red">
                        <h3><a ng-href="#/services">Fix Your Old Boat</a></h3>
                        <p>From the simplest cosmetic makeovers to the most elaborate structural overhaul, we can turn back the clock for your yacht.</p>
                        <a ng-href="#/services" class="btn btn-default">ReadMore</a>
                    </div>
                </div>
                
            </section>


        </div>
        <div class="col-md-3 text-center">
            <aside role="complementary">
                <div ng-include="'views/aside.html'"></div>
            </aside>
        </div>
    </div>
    <br>
    <br>   
</section>
