<section class="card login">
  
   <form name="myloginform" ng-controller="RegistrationController" ng-submit="login()" novalidate>
       <div class="textintro">
           <h2>Login or <a ng-click="toggleRegistration()">Register</a></h2>
           <p>To access site features</p>
           <p class="message" ng-show="message">{{message}}</p>
       </div>
       <fieldset>
           <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
           <p class="error validationerror" ng-show="myloginform.email.$invalid && myloginform.email.$touched">Must be a Valid Email</p>
           <input type="password" name="password" placeholder="Password" ng-model="user.password">
           <p class="error validationerror" ng-show="myloginform.password.$invalid && myloginform.password.$touched">Password required</p>
       </fieldset>
       <button ng-disabled="myloginform.$invalid" class="btn" type="submit">Login</button>
       
   </form>
    
    
</section>