
<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
        <div class="branding">
            <a class="navbar-brand" ng-href="#/home">Brush Creek Yachts</a>
        </div>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right ">
                <li ng-show="currentUser.role == 'admin'"><a ng-href="#/admin">Admin</a></li>
                <li><a ng-href="#/about">About</a></li>
                <li><a ng-href="#/services">Services</a></li>
                <li><a ng-href="#/boats">Boats</a></li>
                <li><a ng-href="#/gallery">Gallery</a></li>
                <li><a ng-href="#/contact">Contact</a></li>
                
                
                
                
                
                
                
            </ul>
        </div>
    </div>

</div>

