
   <section class="card portfolio">
    
    <div class="row">
        <div class="col-md-9">
            <header>
                <div class="panel-header">
                    <h1>Portfolio</h1>
                </div>
            </header>
           <div class="panel-group accordion" id="accordion">
<!--
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4 class="panel-title" data-toggle="collapse" data-target="#voice-over-adr" data-parent="#accordion" >Voice Over / ADR</h4>
                   </div>
                   <div id="voice-over-adr" class="panel-collapse  collapse">
                       <div class="panel-body">
                          <h3>Business Consulting</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435858&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Wireless Phone Script - 2</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435854&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Tourism</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435850&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Wireless Phone Script - 1</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435849&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Women's Undergarments</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435848&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Chair - Humor</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435846&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Long Term Care Insurance</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435843&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Coffee Cup - Humor</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435841&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Documentary</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435839&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Health Care Savings Plan</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435837&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Web Social Service</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435832&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Research Labs</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435827&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Automobile Manufacturer</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435821&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Wireless Phone Script - 3</h3>
                           <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435819&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                           <h3>Audiobook</h3>
                           <h3><iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241435440&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe></h3>
                       </div>
                   </div>
               </div>
-->
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#composition"  >Music Composition</h4>
                   </div>
                   <div id="composition" class="panel-collapse in collapse">
                       <div class="panel-body" ng-model="audio">

                      

<!--
                           <div class="audioplayer">

                                     <iframe id="comp-audio-player" view_file_only="yes" src=" https://app.box.com/embed/s/rgh3iqx43nff5aok6fvbn4f6zgrgxki5" width="100%" height="200" frameborder="0"></iframe> 
                                       
                                 
                               <h1>{{audio[0].link}}</h1>
                               <div class="audio" ng-repeat="track in audio">
                                   <a ng-click="getAudioSource(track)" href="">
                                       <h5>{{track.title}} - {{track.description}}</h5>
                                   </a>
                               </div>
                               
                           </div>
-->
                           

                      
                           <div class="audioplayer">
                             
                               <div class="displayAudio">
                                   <div class="audioImg"><img ng-src="/images/thumbs/{{displayAudio.img}}" alt=""></div>
                                   <div class="audioTitle"><span>{{displayAudio.title}}</span></div>
                                   
                                   <div class="audioDesc">{{displayAudio.desc}}</div>
                                   
                                   <audio id="audio-player" controls>
                                   
                                   <source src="" type="audio/mp3">
                               </audio>
                               </div>
                               
                               <div class="audio-list">
                                    <div class="audio" ng-repeat="track in audio">
                                  
                                  
                                       <a ng-click="getAudioSource(track)" href="">
                                         <div class="audio-item">
                                             <div class="audioImg"><img ng-src="/images/thumbs/{{track.img}}" alt=""></div>
                                            <div class="audioTitle"><span>{{track.title}}</span></div> 
                                         </div>                                        
                                       </a>
                                   
                                
                               </div>
                                   
                               </div>

                               
                               
                           </div>
                       </div>
                   </div>
               </div>
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#video"  >Audio for Video</h4>
                   </div>
                   <div id="video" class="panel-collapse in collapse" ng-model="videos">
                       <div class="panel-body">
<div class="videoWrapper">
    <iframe id="portfolio-video-player" src="https://www.youtube.com/embed/J_WQmwYVyIw?showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
                          <div class="row">
                              <div class="videos">
                                  <div class="video" ng-repeat="video in videos" ng-show="video.active">
                                      <a href="" ng-click="getIframeSource(video)">
                                          <h5>{{video.title}}</h5>
                                          <img src="http://img.youtube.com/vi/{{video.videoId}}/0.jpg"  alt="videoID:{{video.$id}}">
                                      </a>
                                  </div>
                              </div>
                          </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
         <div class="col-md-3 text-center">
            <aside role="complementary">
                <div ng-include="'views/aside.html'"></div>
            </aside>
        </div>
    </div>
    
</section>
