<section class="card card-center-text">
<div class="row">
    <div class="col-md-9">
       <form id="contact-form" action="mailto:chrisspencermusic@gmail.com" enctype="text/plain" method="post" class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend><h2>Contact Us</h2></legend>

        <!-- Text input-->
        <div class="form-group">

          <label class="col-md-4 control-label" for="textinput">Name</label>  
          <div class="col-md-4">
          <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Email</label>  
          <div class="col-md-4">
          <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required="">

          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Subject</label>  
          <div class="col-md-4">
          <input id="subject" name="subject" type="text" placeholder="subject" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="Message">Message</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="Message" name="Message" placeholder="Message"></textarea>
          </div>
        </div>
        <input class="btn btn-default" type="submit" value="Submit" id="contact-submit">

        </fieldset>

        </form>

        <p id="contact-alternative">Problems with the form?  Send an  <a href="mailto:chris@chrisspencercreative.com">email</a></p>
    </div>

    <div class="col-md-3 text-center">
        <aside role="complementary">
            <div ng-include="'views/aside.html'"></div>
        </aside>
    </div>
    
</div>

</section>