<section class="services card">
    <div>
        <div class="row">
            <div class="col-md-9">
                <header>
                    <div class="panel-header">
                      <h1>Services</h1>
                    </div>
                </header>                   
               <div class="panel-group accordion" id="accordion">    
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#Restoration"  >Classic Wooden Boat Restoration</h4>
                       </div>
                       <div id="Restoration" class="panel-collapse collapse">
                           <div class="panel-body">
                                <img class="featureImg img-responsive img-thumbnail" src="images/Wolverineintow_crpd.jpg">
                                <h4>We&#39;ll bring your boat back to life...</h4>
                                <p>From the simplest cosmetic makeovers to the most elaborate structural overhaul, we can turn back the clock for your yacht.  Our attention to detail not only ensures aesthetic accuracy, but you can rest assured that your boat be more seaworthy than it ever was.</p>
                                <p>Most restorations involve repairing wood rot of some sort; which means planking, frames, chines, transoms, decks and bottoms are often replaced.  While these repairs are more surgical in nature there is also a fair amount of aesthetic repair usually required as well, involving stripping, sanding, fairing and refinishing. In the end, we go beyond restoring the boat's strength and integrity, and give you a beautiful craft that is a pleasure to use.</p>
                           </div>
                       </div>
                   </div> 
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title " data-toggle="collapse" data-target="#replacement-parts" data-parent="#accordion" >Replacement Parts</h4>
                       </div>
                       <div id="replacement-parts" class="panel-collapse collapse">
                           <div class="panel-body">
                                <img class="featureImg img-responsive img-thumbnail" src="images/Melonseed_daggerboard_detail_header.jpg">
                                <h4>Let us replace those hard to find parts...</h4>
                                <p>Need a wooden part replaced? We can replicate mast hoops, oars, rudders, tillers, daggerboards, leeboards, to name a few.  We can build as specified by the design plans, or to your specifications. Drop us a <a ng-href="#/contacts">note</a> and let us know what you need.</p>
                                
                           </div>
                       </div>
                   </div>              
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title " data-toggle="collapse" data-target="#custom-boatbuilding" data-parent="#accordion" >Custom Boatbuilding</h4>
                       </div>
                       <div id="custom-boatbuilding" class="panel-collapse in collapse">
                           <div class="panel-body">
                                <img class="featureImg img-responsive img-thumbnail" src="images/Melonseed_at_boat_ramp_crpd.jpg">
                                <h4>Brush Creek builds <i>custom</i> wooden boats.</h4>
                                <p>We will help you create the boat of your dreams, based on your favorite design and specifications.  If you are unsure, we can help you pick the design that will meet your needs and provide years of enjoyment for you and your family.</p>
                                <p>Of course we also have a few boats in the shop ready to go to your garage too. Check out our <a href="forsale.html">current inventory</a></p>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
            <div class="col-md-3 text-center">
                <aside role="complementary">
                    <div ng-include="'views/aside.html'"></div>
                </aside>
            </div>
        </div>
    </div>
</section>
