<section class="services card">
    <div>
        <div class="row">
            <div class="col-md-12">
                <header>
                    <div class="panel-header">
                      <h1>Services</h1>
                    </div>
                </header>                   
               <div class="panel-group accordion" id="accordion">    
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#audio-sweetening"  >Audio Sweetening</h4>
                       </div>
                       <div id="audio-sweetening" class="panel-collapse collapse">
                           <div class="panel-body">
                                
                                <h4>Make your project sound larger than life...</h4>
                                <p>Whether it is salvaging poor audio or just putting on the finishing touches, I can get your audio sounding great, fast. The right tools and expertise will optimize your project’s audio quality and give it that professional sheen everyone expects.</p>

<p>Often the dialog in a project needs a little help... some breath, click and pop removals; some level balancing and some slight EQ touches.  Taken as a whole, these incremental steps can really add impact to any video, audiobook or mixed media project.  Many times it comes down to finding the right ambience to make the elements blend together and feel like they are in the same space.  Or perhaps there's too much competition for the same piece of the audio spectrum, and some things need to be equalized to allow them to work together.  Even if you're 90% there, its that extra 10% that will put your project over the top!</p>
                           </div>
                       </div>
                   </div> 
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title " data-toggle="collapse" data-target="#voice-over-adr" data-parent="#accordion" >Voice Over / ADR</h4>
                       </div>
                       <div id="voice-over-adr" class="panel-collapse collapse">
                           <div class="panel-body">
                                <h4>Dialogue is King!</h4>
                                <p>Dialogue tracking, editing and replacement. Superb microphones and gear make it easy to achieve a clean synchronized dialogue track.</p>

<p>Often times the audio captured at the shoot is sub par, and if its not dealt with it can lower the overall quality of your piece and become a real distraction. Whether its actual dialog replacement or unsynched voice over, I can help you assemble that 'larger than life' performance into a showcase piece.  

Check out some <a ng-href="#!/portfolio">VO samples</a></p>
                           </div>
                       </div>
                   </div>              
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title " data-toggle="collapse" data-target="#music-composition" data-parent="#accordion" >Music Composition</h4>
                       </div>
                       <div id="music-composition" class="panel-collapse collapse">
                           <div class="panel-body">
                                <h4>Brand your project with an original score...</h4>
                                <p>Original music and ambience that is fresh and engaging. Along with effects, an effective musical score will help tell your story and get your point across.</p>

<p>Check out some <a ng-href="#!/portfolio">examples...</a></p>
                           </div>
                       </div>
                   </div>
                    <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title " data-toggle="collapse" data-target="#sound-design" data-parent="#accordion" >Sound Design</h4>
                       </div>
                       <div id="sound-design" class="panel-collapse in collapse">
                           <div class="panel-body">
                                <h4>Brand your project with an original score...</h4>
                                <p>Custom effects edited and spotted to the precise location for maximum impact. Extensive effect libraries augmented by foley and morphing provide the foundation for adding excitement, emotion, and depth.</p>

<p>Check out <a ng-href="#!/portfolio">samples</a> of Sound Design</a></p>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</section>
